body,html{
	margin: 0 5px;
	font-family: Verdana,sans-serif;
        font-size: 12px;
	background-color: lightgrey;
}

div{
    font-family: Verdana,sans-serif;
    font-size: 12px;
}

h1{
    font-family: Verdana,sans-serif;
    font-size: 16px;
    color: #008000;
}
a{
	color: #008000;
}
th{
	text-align: left;
}
td,th{
	padding-right: 5px;
        font-weight: normal;
}
form dt{
	width: 100px;
	display: block;
	float: left;
	clear: left;
}

form dd{
	margin-left: 0;
	float: left;
}

form #submitbutton{
	margin-left: 100px;
}
ul {
	list-style-type: none;
}
div.first{
	background:url(../img/s.gif) repeat;
	position: relative;
	background-repeat:repeat-y;
	background-position: 16px 0px;
	/*background-size: 1px 1px;*/
	left: 15px;
	float: left;
	clear: right;
}
div.last{
	/*background:url(../img/s.gif) repeat;*/
	position: relative;
	/*background-repeat:repeat-y;*/
	background-size: 1px 1px;
	left: 15px;
	float: left;
	clear: right;
}
div.first_no_repeat{
	/*background:url(../img/s.gif) repeat;
	background-size: 1px 1px;*/
	position: relative;
	left: 15px;
	float: left;
	clear: right;
}
div.container{
	/*background:url(../img/minus.gif) no-repeat;
	background-size: 100px 1000px;
	border: 10px solid orange;

	width: 500px;
	*/

	z-index: 150;
	left: -10px;
	top: 100px;

}
div.span_but{
	/*background:url(../img/minus.gif) repeat;*/
	background-repeat:repeat-y;
	background-size: 1px 1px;
	/*border-image: url(../img/minus.gif) 1 10 round;*/
	padding-left: 5px;
	width: 50px;
    float: left;
}
div.first_move{
	position: relative;
	background:url(../img/s.gif) repeat;
	background-repeat:repeat-y;
	background-size: 1px 1px;
	left: 15px;
	float: left;
}
div.first_no_move{
	background:url(../img/s.gif) repeat;
	position: relative;
	background-repeat:repeat-y;
	background-position: 16px 0px;
	width: 100%;
	/*border: 1px solid #ff0000;
	clear: right;*/
	float: left;
}
div.first_no_move_ult{
	position: relative;
	background-position: 16px 0px;
	width: 100%;
	/*border: 1px solid #ff0000;
	clear: right;*/
	float: left;
}
div.first_no_move_last{
	position: relative;
	/*background:url(../img/minus.gif) repeat;
	background-repeat:repeat-y;*/
	background-size: 10px 7px;
	width: 100%;
	/*border: 1px solid #ff0000;
	clear: right;*/
	float: left;
	clear: right;
}
button.plus{
	background:url(../img/elbow-plus.gif) no-repeat;
	background-size: 20px 20px;
	border:0;
}
button.plus_ult{
	background:url(../img/elbow-plus-ultimul.gif) no-repeat;
	background-size: 20px 20px;
	border:0;
}
button.plus_ultimul{
	background:url(../img/elbow-plus.gif) no-repeat;
	background-size: 20px 20px;
	border:0;
}
button.minus{
	background:url(../img/elbow-minus.gif) no-repeat;
	background-size: 20px 20px;
	border:0;
}
button.minus_ult{
	background:url(../img/elbow-minus-ultimul.gif) no-repeat;
	background-size: 20px 20px;
	border:0;
}
button.last{
	background:url(../img/elbow-end.gif) no-repeat;
	background-size: 20px 20px;
	border:0;
}
.cn{
	background:url(../img/icon_contact.gif) no-repeat;
	width: 50px;
	height: 30px;
}
.ou_plus{
	background:url(../img/closed.gif) no-repeat;
	/*background-attachment:fixed;*/
	background-position:0px 5px;
	width: 50px;
	height: 30px;
}
.ou_minus{
	background:url(../img/open.gif) no-repeat;
	/*background-attachment:fixed;*/
	background-position:0px 5px;
	width: 50px;
	height: 30px;
}
span.parinte{
	/*background:url(../img/minus.gif) repeat;
	background-repeat:repeat;
	float:left;
	width: 1px;
	height: 10px;*/
}
ul.SimpleContextMenu {
	position: absolute;
	display: none;
	margin: 0px;
	padding: 0px;
	font-family: verdana;
	font-size: 12px;
	list-style-type: none;
	border-top: 1px solid #000000;
	border-left: 1px solid #000000;
	border-right: 1px solid #000000;
	background-color: grey;
}
ul.SimpleContextMenu li {
	border-bottom: 1px solid #000000;
	background-color: grey;
}
ul.SimpleContextMenu li a {
	display: block;
	width: 100px;
	padding: 2px 10px 3px 10px;
	text-decoration: none;
	color: #000000;

	background-color: grey;
}
ul.SimpleContextMenu li a:hover {
	text-decoration: none;
	color: #ffffff;
	background: #ff0000;
	background-color: blue;
}
div.extern{
	/*background:url(../img/minus.gif) repeat;
	background-repeat:repeat-y;
	background-size: 1px 10px;
	background-color: #445544;*/
	clear: both;
	position: relative;
	left: 0px;
	top: 0px;
	width: 700px;
	border: 2px solid lightgrey;
	float:left;
	background-color: white;
        max-height: 500px;
        overflow-y: auto;
}
div.extern_ovf{
	/*background:url(../img/minus.gif) repeat;
	background-repeat:repeat-y;
	background-size: 1px 10px;
	background-color: #445544;*/
	height: 600px;
	clear: both;
	position: absolute;
	left: 30px;
	top: 130px;
	width: 722px;
	float:left;
	background-color: lightgrey;
	/*overflow: auto;*/
}
div.edit
{
	top: 50px;
	border: 2px solid lightgrey;
	overflow: auto;
	position:absolute;
	clear: both;
	left:750px;
	float:left;
	width:600px;
	/*height:300px;*/
	visibility:hidden;
}
div.container1
{
	margin-left: auto;
	margin-right: auto;
	width: 500px;
	float: left;
}
div.container2
{
	z-index: 150;
	margin-left: auto;
	margin-right: auto;
	width: auto;
	float: left;
	background-color: white;
	/*background-color: #445544;*/
}
div.edit_cn
{
	position: absolute;
}
div.edit_ou
{
	position: absolute;
}
div.search{
	position: absolute;
	left: 30px;
	clear: both;
	top: 50px;
	width: 700px;
	border: 2px solid lightgrey;
	right:15px;
	float:left;
	height:100px;
	background-color: white;
}

.link_meniu {
    background-color: #A4DFF0;
    color: #000000;
    font-family:Verdana, Arial, Helvetica, sans-serif;
    font-size:11px;
    border-style: solid;
    border-color: #999999;
    border-width:1px;
    font-weight:bold;
    display: block;
    padding: 5px 10px;
    text-decoration: none;
    width: 150px;
    float: left;
    margin: 2px 10px;
} 